# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
  
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.0
  
    - name: Install poetry
      run: |
        python -m pip install poetry==1.5.1
  
    - name: Configure poetry
      run: |
        python -m poetry config virtualenvs.in-project true
  
    - name: Cache the virtualenv
      uses: actions/cache@v2
      with:
        path: ./.venv
        key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
  
    - name: Install dependencies
      run: |
        python -m poetry install
  
    - name: Run tests
      run: |
        poetry run pytest
